.win-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border-radius: 5px;
  z-index: 1;
  padding: 2rem;
  text-align: center;

  h1,
  p {
    color: #003865;
  }
}
.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
